@import "../variables";

.post-title {
    font-size: 120%;

    &-show {
        font-weight: bold;
    }
}

.post-data {
    margin-left: 10px;
}

.profile-image {
    height: 72px;
    width: 72px;
    border-radius: 8px;
}
