@import "../variables";

.icon-grey
{
   color: $icon-grey;
}

.icon-dark-grey{
    color: $icon-dark-grey;
}

/*
################
Checkmark
################
*/
#checkmark {
    stroke: #2ecc71;
    fill: none;
    stroke-dasharray: 70px;
    stroke-dashoffset: 70px;
    animation: dash .3s linear forwards,
                pulse 1s forwards;

}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

/*
################
Lock
################
*/

.lock-active {
    color: #ffa801;
}
