@import "../variables";

.sidebar {
    width: 315px;
}

.sidebar-heading {
    font-weight: bold;
}

.list-reset {
    list-style-type: none;
}

.sidebar-link {
    font-size: 110%;
}

.has-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

