@import "../variables";

.sidebar {
    min-width: 16rem;
    width: 16rem;
}

#sidebar-container
{
    border-top: 0;
    border-bottom: 0;
}

.sidebar-heading {
    font-weight: bold;
    font-size: 90%;
    letter-spacing: .5pt;
    text-transform: uppercase;
    color: $font-color-grey;
}

.list-reset {
    list-style-type: none;
}

.sidebar-link {
    font-size: 100%;
    letter-spacing: .5pt;
    color: #111;

    &:hover
    {
        text-decoration: none;
    }
}

.trending-link
{
    color: #3490dc;
    font-size: 100%;
}

.has-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

