// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Components
@import "components/sidebar.scss";
@import "components/icons.scss";
@import "components/_list.scss";
@import "utilities/thread.scss";

html, body{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5,h6
{
    font-family: 'Roboto', sans-serif;
}


.main-navbar{
    background-color: $main-color;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.nav-link{
    color: white;
    font-weight: bold;

    &:hover
    {
        color: white;
    }
}

.nav-item {
    text-decoration: none;
    list-style: none;
}

.nav-user{
    background-color: $main-darker-color;
    -webkit-border-radius: 50% 50%;
    -moz-border-radius: 50% 50%;
    border-radius: 50% 50%;
}

.menu-label {
    font-weight: bold;
    font-size: $font-size-base;
}

.min-h-full{
    min-height: 100%;
}

/******* Tiles *********/
.tile-body-text
{
    font-size: 16px;
}

.icon-xl
{
    font-size: 72px;
}
/******* Buttons *********/

.main-action-button{
    text-transform: uppercase;
    font-size: 110%;
    letter-spacing: 1pt;
    font-weight: bold;
}

.btn-primary{
    background-color: $main-green;
    font-weight: bold;
    border: 0;

    &:hover{
        background-color: $main-green-darker;
    }
}

.is-green{
     background-color: $main-green;
     color: white;
 }

.is-green:hover {
    background-color: $main-green-darker;
}

.-mx-5{
    margin-left: -3rem;
    margin-right: -3rem;
}

#btn-search{
    position: absolute;
    z-index: 100;
    top: 4px;
    right: 2px;
    color: white;
    font-weight: bold;
    background-color: #333;
}
/******* Links *********/

.action-link {
    font-size: 110%;
    color: #333;
}

.action-link:hover {
    text-decoration: underline;
    font-size: 110%;
    color: #111;
    cursor: pointer;
}

/******** Search Result *******/
.search{
    &-title {
        font-size: 150%;
        color: #222;

        &:hover {
            color: #222;
        }
    }

    &-result:first-child {
        margin-top: 0 !important;
    }
}

.thread_container{
    padding-right: 3rem;
    padding-left: 3rem;
}

@media screen and(max-width: 425px)
{
    .text-body
    {
        font-size: 100%;
    }

    .thread_container{
        padding: 0;
    }
}
