
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Components
@import "components/sidebar.scss";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.nav-item {
    text-decoration: none;
    list-style: none;
}

.menu-label {
    font-weight: bold;
    font-size: $font-size-base;
}

.settings-list-item {
    font-size: 100%;
    font-weight: 600;
}

.form-label {
    font-weight: 500;
}

.lock-active {
    color: #ffa801;
}

.post-title {
    font-size: 120%;

    &-show {
        font-weight: bold;
    }
}

.post-data {
    margin-left: 10px;
}

.profile-image {
    height: 72px;
    width: 72px;
    border-radius: 8px;
}

.profile-area {
    border-right: 1px solid lightgrey;
    max-width: 50%;
}

/******* Buttons *********/

.main-action-button{
    text-transform: uppercase;
    font-size: 110%;
    letter-spacing: 1pt;
}

/******* Links *********/

.action-link {
    text-decoration: underline;
    font-size: 110%;
    color: #333;
}

.action-link:hover {
    text-decoration: underline;
    font-size: 110%;
    color: #111;
}

/******** Search Result *******/
.search{
    &-title {
        font-size: 150%;
        color: #222;

        &:hover {
            color: #222;
        }
    }

    &-category {
        font-size: 11px;
        padding: 5px 8px;
        -webkit-border-radius: 290486px;
        -moz-border-radius: 290486px;
        border-radius: 290486px;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
    }

    &-result:first-child {
        margin-top: 0 !important;
    }
}
