
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.menu-label {
    font-weight: bold;
    font-size: $font-size-base;
}

.settings-list-item {
    font-size: 100%;
    font-weight: 600;
}

.form-label{
    font-weight: 500;
}
